@charset "UTF-8";
header
body{
	<style>
* {
  box-sizing: border-box;
}

/* Style the body */
body {
font-family: ff-basic-gothic-pro, sans-serif;
font-weight: 300;
font-style: normal;
  margin: 0;
}

/* Header/logo Title */
.header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
}
.iframe{
	align-content: center;
}
